process {
    withName:lib_file {
        cpus=1
        container = "mpgagebioinformatics/rnaseq.python-3.8-2.sif"
        containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    }
    withName:subsetting_counts_file {
        cpus=1
        container = "mpgagebioinformatics/rnaseq.python-3.8-2.sif"
        containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    }
    withName:cleanR_pipe {
        cpus=1
        container = "mpgagebioinformatics/crisprcleanr-3.0.0.sif"
        containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    }
}